* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    min-width: 400px;
    min-height: 170px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px dashed #025bee;
    text-align: center;
}

input[type="file"] {
    display: none;
}

#picker-label {
    display: block;
    background-color: #025bee;
    color: #ffffff;
    text-align: center;
    width: 150px;
    padding: 10px 0;
    border-radius: 4px;
    margin: 0 auto;
    cursor: pointer;
}

#clear {
    cursor: pointer;
    display: block;
    text-decoration: underline;
}

.progress-tools {
    display: block;
    width: 300px;
    margin: 0 auto;
}

#info {
    font-size: 12px;
}

.finish-tools {
    display: block;
}

.hide {
    display: none;
}
.show {
    display: block;
}

#url {
    width: 500px;
    margin: 0 auto 0;
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 12px;
}

#err {
    width: 500px;
    margin: 0 auto 0;
    display: block;
    text-align: center;
    padding: 10px;
}

.active {
    border: 2px dashed #025bee;
}

#status {
    font-size: 20px;
}

#blink {
    font-size: 12px;
    animation: 2s linear infinite blinker;
    display: inline-block;
    vertical-align: bottom;
    margin-left: -4px;
    color: #025bee;
}
@keyframes blinker {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(5px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}
